@model IEnumerable<Odev_Form_V2.Models.Entities.TBL_Iletisim>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_LayoutPage.cshtml";
}

<ul class="breadcrumb">
    <li><a href="#">Anasayfa</a></li> 
    <li class="active">İletişim</li>
</ul>
<!-- END BREADCRUMB -->
<!-- PAGE TITLE -->
<div class="page-title">
    <h2><span class="fa fa-arrow-circle-o-left"></span> İletişim Sayfamız</h2>
</div>
<!-- END PAGE TITLE -->
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">

            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Ad_Soyad)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.E_Posta)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Konu)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Mesaj)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Eklenme_Tarihi)
                                    </th>
                                    <th>Sil</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Ad_Soyad)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.E_Posta)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Konu)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mesaj)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Eklenme_Tarihi)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END DEFAULT DATATABLE -->
            <!-- START SIMPLE DATATABLE -->
            
            <!-- END SIMPLE DATATABLE -->

        </div>
    </div>

</div>
<!-- PAGE CONTENT WRAPPER -->
 